.titulo {
    color: red;
}

/* Media query para Sunmi V2 (1080x1920px) */
@media screen and (min-width: 1080px) and (max-width: 1080px) and (min-height: 1920px) {
    .servicos__main {
        border: 3px solid #000;
        border-radius: 8px;
    }
}

/* Alternativa: Media query baseado em aspect ratio do Sunmi V2 */
@media screen and (min-width: 1000px) and (max-width: 1200px) and (aspect-ratio: 9/16) {
    .servicos__main {
        border: 3px solid #fc0505;
        border-radius: 8px;
    }
}

