.titulo {
    color: red;
}

@media screen and (max-width: 720px) and (max-height: 1440px) {
    .servicos__main {
        width: 100vw;
        height: 100dvh;
        padding: 5px;
    }

    .servicos__header {
        width: 100%;
        min-height: 15vh;
        background-color: #02B2FE;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .header__titulo {
        font-size: 2rem;
        text-transform: uppercase;
        color: #ffffff;
    }

    .seach__container {
        width: 100%;
        min-height: 5vh;
        display: flex;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .search__input {
        width: 300px;
        height: 50px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
        text-align: center;
        font-size: 1.2rem;
    }


    .list__item {
        min-width: 100%;
        min-height: 60px;
        border: 1px solid black;
        border-radius: 20px;
        position: relative;
    }

    .list__item__title {
        position: absolute;
        background-color: #FAF8F8;
        top: -9px;
        left: 20px;

        & span {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .list__item__container {
        min-width: 100%;
        height: 100%;
        border-radius: 20px;
        display: flex;
        gap: .5rem;
        padding-top: 20px;
        padding-left: 5px;
        font-size: .6rem;
    }

    .container__clientName {
        & h1 {
            text-align: center;
            font-weight: bold;
        }
    }

    .date__join {
        text-align: center;

        & h1 {
            font-weight: bold;
        }

    }

    .date__left {
        text-align: center;

        & h1 {
            font-weight: bold;
        }

    }

    .actions {
        width: auto;
        display: flex;
        gap: .3rem;
    }

    .action__btn {
        width: 20px;
        height: 20px;
        border-radius: 3px;

    }

    .action__edit {
        background-color: green;
    }

    .action__delete {
        background-color: red;
    }

    .action__print {
        background-color: orange;
    }


}