.titulo {
    color: red;
}

@media screen and (max-width: 720px) and (max-height: 1440px) {
    .servicos__main {
        width: 100vw;
        height: 100dvh;
        border: 3px solid #000;
        padding: 5px;
    }

    .servicos__header {
        width: 100%;
        min-height: 20vh;
        background-color: #02B2FE;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .header__titulo {
        font-size: 2rem;
        text-transform: uppercase;
        color: #ffffff;
    }

    .list__item {
        min-width: 100%;
        min-height: 80px;
        border: 1px solid black;
        border-radius: 20px;
        position: relative;
    }

    .list__item__title {
        position: absolute;
        background-color: #FAF8F8;
        top: -9px;
        left: 20px;
        & span {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}
