.titulo {
    color: red;
}

@media screen and (max-width: 720px) and (max-height: 1440px) {
    .servicos__main {
        width: 100vw;
        height: 100dvh;
        border: 3px solid #000;
    }
}
