.clientes__main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.header__container {
    width: 100%;
    height: 10vh;
    background-color: rgb(95, 176, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & h2 {
        font-size: 1.5rem;
        text-align: center;
        color: #ffffff;
    }

}

.return__btn__container {
    position: absolute;
    top: 30%;
    left: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;

    & span {
        color: #ffffff;
    }
}

.return__btn {
    background-color: transparent;
    border: none;
    outline: none;
}

.search__container {
    display: flex;
    justify-content: center;
    & input {
        width: 80%;
        height: 30px;
        border-radius: 10px;
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 5px;
        font-size: 1.2rem;
    }
}

.clientes__lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.lista___item {
    border-bottom: 1.5px solid gray;
}

.item__info {
    margin-bottom: 10px;
    display: flex;
    margin: 0 10px 10px 10px;
    justify-content: space-between;
}

.add__cliente__btn {
    width: 50px;
    min-height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 187, 38);
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
}

/* MODAL PRA ADICIONAR CLIENTE  */

.adicionar__cliente__section {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cliente__modal {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.158);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.adicionar__cliente__section__hidden {
    display: none;
}

.cliente__input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 1rem;
}

.cliente__modal__buttons {
    height: 40px;
    display: flex;
    gap: .5rem;
}

.cliente__btn {
    border-radius: 10px;
    border: none;
    font-size: .8rem;
}

.cliente__btn__cancelar {
    background-color: rgb(247, 91, 91);
}

.cliente__btn__adicionar {
    background-color: rgb(91, 247, 130);
}

.items__informations {
    font-size: 1.2rem;
}

.item__nome {
    text-transform: uppercase;
    font-weight: bold;
}

.item__phone {
    display: flex;
    gap: .7rem;
}
